# ***`MULTIPLICATION TABLE`***

In [30]:
print("MULTIPLICATION TABLE")
print("*"* 50)

a = int(input("Enter the multiple "))
i = 1 

while(i<=10):
   print(a,"x",i,"=",a*i)

   i = i+1

MULTIPLICATION TABLE
**************************************************
Enter the multiple 15
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150