In [15]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
data = pd.read_csv('/Music.csv')
data                                         #0 = female ,1 =male

    age  gender      genre
0    23       1     HipHop
1    22       1     HipHop
2    25       1     HipHop
3    22       1     HipHop
4    24       1  Classical
5    25       1  Classical
6    30       1  Classical
7    28       1  Classical
8    27       1  Classical
9    26       0       Jazz
10   26       0       Jazz
11   29       0       Jazz
12   29       0       Jazz
13   30       0       Rock
14   27       0       Rock
15   25       0       Rock
16   23       0       Rock
17   22       0       Rock

In [13]:
input_data = data.drop(columns=['genre'])
input_data

    age  gender
0    23       1
1    22       1
2    25       1
3    22       1
4    24       1
5    25       1
6    30       1
7    28       1
8    27       1
9    26       0
10   26       0
11   29       0
12   29       0
13   30       0
14   27       0
15   25       0
16   23       0
17   22       0

In [14]:
output_data = data['genre']
output_data

0        HipHop
1        HipHop
2        HipHop
3        HipHop
4     Classical
5     Classical
6     Classical
7     Classical
8     Classical
9          Jazz
10         Jazz
11         Jazz
12         Jazz
13         Rock
14         Rock
15         Rock
16         Rock
17         Rock
Name: genre, dtype: object

In [ ]:
model = DecisionTreeClassifier()
model.fit(input_data,output_data)                                         #Model is ready to predict

**Predict music preference of  1. 20yr old male  2. 31yr old female**

In [26]:
predictions = model.predict([[20,1],[31,0]])
predictions

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array(['HipHop', 'Rock'], dtype=object)

In [38]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score                                            #Libraries to test the accuracy of the model

x_train,x_test, y_train,y_test = train_test_split(input_data,output_data, test_size = 0.2)     #20% for testing nd 80% for traning. x train,test for input_data and vice versa

model.fit(x_train,y_train)               #testing the model with new variables                           
predictions = model.predict(x_test)
score = accuracy_score(y_test,predictions)
score

0.75

In [50]:
#To be run in a new notebook

import pandas as pd
from sklearn.tree import DecisionTreeClassifier

#from sklearn.externals import joblib
import joblib

data = pd.read_csv('/Music.csv')
input_data = data.drop(columns=['genre'])
output_data = data['genre']
model = DecisionTreeClassifier()
model.fit(input_data,output_data)
model.predict([[32,0]])    
joblib.dump(model, 'musicModel.joblib')    #To save a model

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

['musicModel.joblib']

In [54]:
#Predicting preference of a 33yr old female in a new notebook 

joblib.load('musicModel.joblib')         #can be used to call a model if used after long time
model.predict([[33,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array(['Rock'], dtype=object)

**Visualization of the model in a tree format**

In [57]:

import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
data = pd.read_csv('/Music.csv')
input_data = data.drop(columns=['genre'])
output_data= data['genre']
model = DecisionTreeClassifier()
model.fit(input_data,output_data)

tree.export_graphviz(model,feature_names = ['age','gender'],class_names =sorted(output_data.unique()),label='all',rounded=True,filled=True,out_file='musicModelDrawing.dot')